.footer {
  background-color: #353131;
  display: flex;
  padding: 20px 0 20px 0;
}

.footer-list {
  margin-left: 2vw;

  &__item {
    font-size: 16px;
  }
}

.footer-text {
  color: #fff;
}

.languages-container {
}

.languages-btn {
}
