.header {
  height: 60px;
  background-color: #118581;
  padding: 0 3% 0 3%;
}

.navigation {
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-container {
  cursor: pointer;
  height: 60%;
  display: flex;
  align-items: center;
}

.nav-link + .nav-link {
  margin-left: 10px;
}

.user {
  margin-right: 15px;
  max-width: 100px;
}

.name-text {
  max-width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-icon {
  padding-right: 15px;
}

.profile {
  margin-left: auto;
}
