.header {
  text-transform: uppercase;
  height: 60px;
  background-color: #118581;
  padding: 0 2vw 0 2vw;
}

.navigation {
  color: #fff;
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-container {
  cursor: pointer;

  height: 60%;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.nav-button + .nav-button {
  margin-left: 10px;
}

.user {
  margin-right: 15px;
}

.profile {
  margin-left: auto;
}
